h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    row-gap: 10px;
}

.comecar {
    padding: 31px;
    border-radius: 20px;
    border: none;
    background: rgb(71, 71, 221);
    color: white;
    width: 245px;
    font-size: 18px;
}

.adicionar {
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgb(71, 71, 221);
    background: none;
    color: rgb(71, 71, 221);
    font-size: 18px
}